
/* color of top/bottom bars in nature theme */
div.related {
    background-color: #79443C;
}

.strike {
  text-decoration: line-through;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    text-shadow: 0px 0px 0 white
}

    
div.body h1 { background-color: #79443C; color: #eeeeee}
div.body h2 { background-color: #FFD69F; border: 2px solid #B35819; }
div.body h3 { background-color: #FFD69F; border: 1px dashed #B35819; }

